<header>
  <nav>
    <%= link_to image_tag("logo.png"), root_path %>

    <ul class="left">
      <li><%= link_to "Users", users_path %></li>
    </ul>

    <ul class="right">

    </ul>
  </nav>
</header>